* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #555;
  width: 100vw;
  height: 100vh;
}

canvas#main {
  width: 640px;
  height: 360px;
  border: 1px solid #fff;
  overflow: hidden;
}

.container{
  display: flex;
  flex-direction: column;
  width: 720px;
  margin: auto;
  padding: 1em;
  align-items: center;
}

h3 {
  background: lightblue;
  margin-bottom: .5em;
  padding: .5em 5em;
}
